pkgbase = shani-deploy
	pkgdesc = Safe transactional deployment system for Shani OS
	pkgver = 0.0.1
	pkgrel = 80
	url = https://github.com/shani8dev/shani-deploy
	install = shani-deploy.install
	arch = any
	license = GPL-3.0-only
	makedepends = git
	depends = btrfs-progs
	depends = zstd
	depends = sbsigntools
	depends = efitools
	depends = dracut
	depends = systemd
	depends = jq
	depends = zsync
	depends = zsync2
	depends = wget
	depends = flatpak
	depends = yad
	depends = duperemove
	depends = compsize
	depends = bees
	source = git+https://github.com/shani8dev/shani-deploy.git#commit=cc708ef3840d69b3ffcc3e96fb5d98a9bbb7979f
	sha256sums = d617c9c3f60cb43ac2c0d739bdf2d6d10f39fe2a2d267790112664ad0baa6eb5

pkgname = shani-deploy
