pkgbase = shani-deploy
	pkgdesc = Safe transactional deployment system for Shani OS
	pkgver = 0.0.1
	pkgrel = 88
	url = https://github.com/shani8dev/shani-deploy
	install = shani-deploy.install
	arch = any
	license = GPL-3.0-only
	makedepends = git
	depends = btrfs-progs
	depends = zstd
	depends = sbsigntools
	depends = efitools
	depends = dracut
	depends = systemd
	depends = jq
	depends = zsync
	depends = zsync2
	depends = wget
	depends = flatpak
	depends = yad
	depends = duperemove
	depends = compsize
	depends = bees
	source = git+https://github.com/shani8dev/shani-deploy.git#commit=8dd63b58160ae7c10cee749c8b3a6ebfdb4065aa
	sha256sums = 51bc48a3a7eff97a8fb1aeff3f1717f6939b781f1d9bc31cf528c4bfb0c0588d

pkgname = shani-deploy
