pkgbase = shani-deploy
	pkgdesc = Safe transactional deployment system for Shani OS
	pkgver = 0.0.1
	pkgrel = 73
	url = https://github.com/shani8dev/shani-deploy
	install = shani-deploy.install
	arch = any
	license = GPL-3.0-only
	makedepends = git
	depends = btrfs-progs
	depends = zstd
	depends = sbsigntools
	depends = efitools
	depends = dracut
	depends = systemd
	depends = jq
	depends = zsync
	depends = zsync2
	depends = wget
	depends = flatpak
	depends = yad
	depends = duperemove
	depends = compsize
	depends = bees
	source = git+https://github.com/shani8dev/shani-deploy.git#commit=461b17865b1b441bc93ec8360910911ac459f1f3
	sha256sums = fb56f852f9e1a8e1d786db22788afbe1969efc6c5f7fd8778407745934814625

pkgname = shani-deploy
