[Unit]
Description=Periodic System Updates Timer for Shani OS

[Timer]
OnBootSec=15m
OnUnitActiveSec=1h
RandomizedDelaySec=30m
Persistent=true
Unit=deploy-image.service

[Install]
WantedBy=timers.target
