[Unit]
Description=Update Flatpak (System)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/flatpak update --noninteractive --assumeyes --system

[Install]
WantedBy=multi-user.target
