[Desktop Entry]
Name=Saturn
X-KDE-PluginInfo-Author=Shani OS Team
X-KDE-PluginInfo-Email=shani@shani.dev
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL-3.0-or-later
X-KDE-PluginInfo-Name=Saturn
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://shani.dev
X-KDE-ServiceTypes=Aurorae/DecorationTheme
Type=Service
