pkgbase = shani-desktop-plasma
	pkgdesc = PLASMA desktop environment for Shani OS
	pkgver = 1.0
	pkgrel = 34
	url = https://github.com/shani8dev/shani-pkgbuilds/tree/main/shani-desktop-plasma
	install = shani-desktop-plasma.install
	arch = any
	license = GPL-3.0-only
	depends = aurorae
	depends = plasma-login-manager
	depends = bluedevil
	depends = kde-gtk-config
	depends = breeze-gtk
	depends = discover
	depends = drkonqi
	depends = filelight
	depends = kdeplasma-addons
	depends = krdp
	depends = kscreen
	depends = ksshaskpass
	depends = kwallet-pam
	depends = kwalletmanager
	depends = kwin
	depends = kwrited
	depends = plasma-browser-integration
	depends = plasma-desktop
	depends = plasma-disks
	depends = plasma-firewall
	depends = plasma-keyboard
	depends = plasma-nm
	depends = plasma-pa
	depends = plasma-systemmonitor
	depends = plasma-thunderbolt
	depends = plasma-vault
	depends = plasma-welcome
	depends = plasma-workspace-wallpapers
	depends = print-manager
	depends = spectacle
	depends = xdg-desktop-portal-kde
	depends = flatpak-kcm
	depends = plymouth-kcm
	depends = colord-kde
	depends = kdf
	depends = krfb
	depends = kdeconnect
	depends = kcron
	depends = ksystemlog
	depends = kjournald
	depends = partitionmanager
	depends = converseen
	depends = kinfocenter
	depends = kde-inotify-survey
	depends = power-profiles-daemon
	depends = switcheroo-control
	depends = konsole
	depends = yakuake
	depends = sweeper
	depends = kbackup
	depends = qrca
	depends = ark
	depends = dolphin
	depends = dolphin-plugins
	depends = kio-admin
	depends = kio-gdrive
	depends = kio-zeroconf
	depends = kdegraphics-thumbnailers
	depends = kdenetwork-filesharing
	depends = ffmpegthumbs
	depends = kimageformats
	depends = icoutils
	depends = libappimage
	depends = libspectre
	depends = libid3tag
	depends = libraw
	depends = libopenraw
	depends = libwmf
	depends = libultrahdr
	depends = djvulibre
	depends = appmenu-gtk-module
	depends = system-config-printer
	depends = plasma-applet-window-buttons
	depends = plasma6-applets-window-title
	depends = xdg-desktop-portal-gtk
	depends = xdg-user-dirs
	depends = xdg-utils
	depends = plasma-setup-git
	depends = kvantum

pkgname = shani-desktop-plasma
