pkgbase = shani-peripherals
	pkgdesc = peripheral devices and tools for Shani OS
	pkgver = 1.0
	pkgrel = 8
	url = https://github.com/shani8dev/shani-pkgbuilds/tree/main/shani-peripherals
	install = shani-peripherals.install
	arch = any
	license = GPL-3.0-only
	depends = fprintd
	depends = linuxconsole
	depends = lirc
	depends = gpsd
	depends = opensc
	depends = ccid
	depends = pam_pkcs11
	depends = libnfc
	depends = acsccid
	depends = libfido2
	depends = pam-u2f
	depends = pam-krb5
	depends = libdvdcss
	depends = bolt
	depends = android-udev
	depends = game-devices-udev
	depends = iio-sensor-proxy
	depends = libratbag
	depends = geoclue
	depends = apcupsd
	depends = usbmuxd
	depends = upower

pkgname = shani-peripherals
