[Desktop Entry]
Name=Saturn
X-KDE-PluginInfo-Name=Saturn
X-KDE-PluginInfo-Author=Shrinivas Vishnu Kumbhar
X-KDE-PluginInfo-Email=shrinivas.v.kumbhar@gmail.com
X-KDE-PluginInfo-License=GPLv3
