[Desktop Entry]
Name=Saturn Dark
Comment=Saturn window decoration: rounded, shadowed, follows the colour scheme
X-KDE-PluginInfo-Name=Saturn-Dark
X-KDE-PluginInfo-Author=Shani OS
X-KDE-PluginInfo-Email=shrinivas.v.kumbhar@gmail.com
X-KDE-PluginInfo-License=GPL-3.0-or-later
X-KDE-PluginInfo-Version=1.0
