pkgbase = game-devices-udev
	pkgdesc = Udev rules for controllers
	pkgver = 1.0
	pkgrel = 1
	url = https://codeberg.org/fabiscafe/game-devices-udev
	install = install
	arch = any
	license = MIT
	makedepends = git
	makedepends = meson
	depends = udev
	provides = nintendo-udev
	source = git+https://codeberg.org/fabiscafe/game-devices-udev.git?signed#commit=aaaf684043b33a330630335a3782b02ecf87a52e
	source = uinput.conf
	validpgpkeys = 6E58E886A8E07538A2485FAED6A4F386B4881229
	b2sums = SKIP
	b2sums = SKIP

pkgname = game-devices-udev
